/*-----------------------------------------------------------------------------*\
	Styles for Business Card project, for Front End Developer Chapter Meeting
\*-----------------------------------------------------------------------------*/

/*-----------------------*\
	Contents
		- Variables
		- Typefaces
		- Business Card
			- Personal Info
			- Tech Stack
\*-----------------------*/

/*-------------*\
	Variables
\*-------------*/

//Colors
$color-white: #C5EFF7;
$color-black: #22313F;
$color-grey: #E4F1FE;
$color-red: #F62459;
$color-light-blue: lightblue;

//Sizing
$mic: 3px;
$tny: 8px;
$sm: 15px;
$med: 30px;
$lg: 60px;
$xl: 90px;
$xxl: 120px;

//Font Sizes
$minFontSize: 9px;
$smFontSize: 11px;
$regFontSize: 13px;
$lgFontSize: 20px;
$xlFontSize: 43px;

//Images
$profPic: 'https://avatars1.githubusercontent.com/u/8093940?s=460&v=4';

/*-------------*\
	Typefaces
\*-------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Montserrat:900');

$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;

/*-----------*\
	Globals
\*-----------*/

body {
	font-family: $lato;
	color: $color-black;
}

hr {
	border: 1px solid $color-light-blue;
}

/*-----------------*\
	Business Card
\*-----------------*/

.overlay {
	background-color: rgba($color-black, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.business-card {
	background-color: $color-white;
	width: 378px;
	height: 600px;
	position: absolute;
	left: calc(50% - (378px/2));
	top: calc(50% - (600px/2));
	padding: $sm;
}

/*-----------------*\
	Personal Info
\*-----------------*/

.personal-info {

}

.person-name {
	font-weight: 900;
	font-family: $montserrat;
	color: $color-black;
	font-size: $xlFontSize;
	line-height: 0.75;
	text-transform: uppercase;
	margin: 0;
}

.person-role, .person-business {
	margin: 0 0 0 2px;
}

.person-role {
	font-style: italic;
}

.person-business {
	font-weight: 900;
}

/*--------------*\
	Tech Stack
\*--------------*/

.tech-stack {
	h3 {
		margin: $mic 0;
		text-transform: uppercase;
		font-family: $montserrat;
		font-size: $regFontSize;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		margin-bottom: $mic;
		font-size: $smFontSize;
	}
}

/*--------------------*\
	Hobby & Fun Fact
\*--------------------*/